body {
    background-color: turquoise;
}

h1 {
    color:palevioletred
}

h2 {
    color: darkmagenta;
}

footer {
    background-color: pink;
}

body {
    margin: 50px 300px 100px 100px 

}

ul li {
    margin: 0; 
    padding: 0;
}

ul li {
    list-style-type: none;
    display: inline-block;
}
